<div class="background">
  <div class="col-md-6 offset-md-3">
    <div class="container mt-5 px-2">
      <h1
        class="mb-5 d-flex justify-content-between align-items-center"
        style="color: green"
      >
        Add A New Student!
      </h1>
      <div class="mb-4 d-flex justify-content-between align-items-center">
        <div class="position-relative">
          <form [formGroup]="form">
            <div class="mb-3">
              <h3>Student Id</h3>
              <input
                type="text"
                class="form-control"
                id="Id"
                formControlName="Id"
                placeholder="Id"
                required
                minlength="5"
              />
            </div>
            <div class="mb-3">
              <h3>Name</h3>
              <input
                type="text"
                class="form-control"
                id="Name"
                formControlName="Name"
                placeholder="Name"
                required
                minlength="3"
              />
            </div>
            <div class="mb-3">
              <h3>Last name</h3>
              <input
                type="text"
                class="form-control"
                id="lastname"
                formControlName="lastname"
                placeholder="lastname"
                required
                minlength="3"
              />
            </div>
            <div class="mb-3">
              <h3>Email</h3>
              <input
                type="text"
                class="form-control"
                id="Email"
                formControlName="Email"
                placeholder="Email"
                required
                minlength="7"
              />
            </div>
            <div class="mb-3">
              <h3>Password</h3>
              <input
                type="text"
                class="form-control"
                id="Password"
                formControlName="Password"
                placeholder="Password"
                required
                minlength="2"
              />
            </div>

            <hr />
            <button
              type="button"
              class="btn btn-primary"
              href="#"
              routerLinkActive="active"
              ariaCurrentWhenActive="page"
            >
              Generate a new student !
            </button>
            <hr />
            <button
              class="btn btn-danger"
              type="button"
              href="#"
              routerLink="/admin"
              ariaCurrentWhenActive="page"
              (click)="kthehu()"
            >
              Turn Back!
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
