<div class="background">
  <div class="container mt-5 px-2">
    <button mat-button mat-dialog-close>Close</button>
  </div>

  <div class="container mt-5 px-2">
    <div class="mb-2 d-flex justify-content-between align-items-center">
      <div class="position-relative">
        <span class="position-absolute search"><i class="search"></i> </span>
        <button>
          <form [formGroup]="form">
            <input
              type="search"
              required
              class="form-control w-100"
              placeholder="Search..."
              (input)="filter()"
            />
          </form>
        </button>
      </div>
      <button
        mat-button
        color="primary"
        (click)="openDialogWithTemplateRef(myDialog)"
      >
   Add Book!
      </button>
    </div>
    <ng-template #myDialog>
      <h2 matDialogTitle>Dialog!</h2>
      <mat-dialog-content>
      
        <div class="background">
          <div class="col-md-6 ">
            <div class="container mt-5 px-2">
              <div class="mb-4 d-flex justify-content-between align-items-center">
                <div class="position-relative">
                  <form [formGroup]="form">
                    <div class="mb-3">
                      <h3>Book Name</h3>
                      <input
                        type="text"
                        class="form-control"
                        id="BookName"
                        formControlName="BookName"
                        placeholder="Book Name"
                        minlength="2"
                      />
                    </div>
                    <div class="mb-3">
                      <h3>Author</h3>
                      <input
                      formControlName="Name"
                        type="text"
                        class="form-control"
                        id="Name"
                        placeholder="Author Name"
                        required
                      />
                    </div>
        
                    <hr />
                    <button
                      type="button"
                      class="btn btn-light"
                      href="#"
                      routerLinkActive="active"
                      ariaCurrentWhenActive="page"
                      (click)="goToAddbooks()"
                    >
                      Generate a new book manually!
                    </button>
                    <br>
                    <hr>
                    <button
                    type="button"
                    class="btn btn-primary"
                    href="#"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
        
                  >
                    Generate a new book automatically!
                  </button>

                 
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        


      </mat-dialog-content>
    </ng-template>
    <div class="scss">
      <div class="mat-elevation-z8">
        <table class="table table-responsive table-borderless">
          <thead>
            <tr class="bg-light">
              <th scope="col" width="21.1%">Book Title</th>
              <th scope="col" width="21.1%">Author</th>

              <th scope="col" width="21.1%">
                <span>Edit</span>
              </th>
            </tr>
          </thead>
          <tbody *ngFor="let item of data">
            <tr>
              <td>{{ item.BookName }}</td>
              <td>{{ item.Name }}</td>

              <td class=" ">
                <button
                  mat-raised-button
                  type="button"
                  class="btn btn-primary mr-1"
                  (click)="goToEdit(item)"
                >
                  EDIT
                </button>

                <button
                  mat-raised-button
                  (click)="setShowModal(true, item)"
                  type="button"
                  class="btn btn-danger"
                >
                  DELETE
                </button>
              </td>
            </tr>
            <p class="color">
              {{ dateVal | date : "d/M/y HH:mm:ss" }}
            </p>
            <hr />
            <thead></thead>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container mt-5 px-2"></div>

  <app-delete-modal
    *ngIf="showModal"
    (newItemEvent)="deleteFunction($event)"
  ></app-delete-modal>
</div>
