<div class="container mt-5 px-0">
  <div class="mb-2 d-flex justify-content-between align-items-center">
    <div class="position-relative">
      <span class="position-absolute search"><i class="search"></i> </span>
      <mat-form-field class="search">
        <mat-label>Filter</mat-label>
        <form [formGroup]="form">
          <input
            matInput
            placeholder="Ex. ium"
            #inputItem
            formControlName="filter"
            (input)="searchArray(this.form.value.search, this.allData)"
          />
        </form>
      </mat-form-field>
    </div>
    <button
      mat-button
      color="primary"
      (click)="openDialogWithTemplateRef(myDialog1)"
    >
      Add Books Automatically!
    </button>

    <ng-template #myDialog1 class="dialogue">
      <h2 matDialogTitle>ADD Books Automatically!</h2>
      <mat-dialog-content>
        <div class="background">
          <div class="col-md-6">
            <form [formGroup]="automaticBook">
              <input
                type="text"
                matInput
                formControlName="search"
                (input)="search()"
                [matAutocomplete]="auto"
                style="width: 250px"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayFn"
              >
                <mat-option *ngFor="let option of searchData" [value]="option">
                  <div (click)="display(option)">
                    {{ option.volumeInfo.title }}
                  </div>
                </mat-option>
              </mat-autocomplete>
            </form>
            <hr />
            <div>
              <h1>{{ displayData.volumeInfo.title }}</h1>
              <h2>{{ displayData.volumeInfo.authors[0] }}</h2>
              <p>{{ displayData.volumeInfo.description }}</p>
              <img src="{{ displayData.volumeInfo.imageLinks.thumbnail }}" />
            </div>
            <div *ngIf="displayData.volumeInfo.title">
              <button
                mat-button
                class="addButton"
                mat-dialog-close
                (click)="addBook()"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </mat-dialog-content>
    </ng-template>
  </div>
  <!-- <ng-template #myDialog>
    <h2 matDialogTitle>ADD Books Manually!</h2>
    <mat-dialog-content>
      <div class="background">
        <div class="col-md-6">
          <div class="mb-4 d-flex justify-content-between align-items-center">
            <div class="position-relative">
              <form [formGroup]="form">
                <div class="mb-3">
                  <h3>Book Name</h3>
                  <input
                    type="text"
                    class="form-control"
                    id="BookName"
                    formControlName="BookName"
                    placeholder="Book Name"
                    minlength="2"
                  />
                </div>
                <div class="mb-3">
                  <h3>Author</h3>
                  <input
                    formControlName="Name"
                    type="text"
                    class="form-control"
                    id="Name"
                    placeholder="Author Name"
                    required
                  />
                </div>

                <hr />
                <button
                  type="button"
                  class="btn btn-light"
                  href="#"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                >
                  Generate a new book manually!
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
  </ng-template> -->
  <div class="scss">
    <div class="table-wrapper-scroll-y my-custom-scrollbar">
      <table class="table table-bordered table-striped mb-0">
        <thead>
          <tr class="bg-light">
            <th scope="col" width="21.1%">Time</th>
            <th scope="col" width="21.1%">Book Title</th>
            <th scope="col" width="21.1%">Author</th>

            <th scope="col" width="21.1%">
              <span>Delete</span>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let item of data">
          <tr>
            <td>
              <p class="color">
                {{ dateVal | date : "d/M/y HH:mm:ss" }}
              </p>
            </td>
            <td>{{ item.BookName }}</td>
            <td>{{ item.Name }}</td>

            <td class=" ">
              <button
                mat-raised-button
                (click)="setShowModal(true, item)"
                type="button"
                class="btn btn-danger"
              >
                DELETE
              </button>
            </td>
          </tr>

          <thead></thead>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container mt-5 px-2"></div>

  <app-delete-modal
    *ngIf="showModal"
    (newItemEvent)="deleteFunction($event)"
  ></app-delete-modal>
</div>

<ng-template #loadingSpinner>
  <div class="spinner"><mat-spinner></mat-spinner></div>
</ng-template>
