<div class="w3-top">
  <div class="w3-bar">
    <a
      class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0);"
      title="Toggle Navigation Menu"
    >
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-user"></i> ABOUT</a
    >
    <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-th"></i> PORTFOLIO</a
    >
    <a
      href="#"
      [routerLink]="['/homepage/books']"
      routerLinkActive="router-link-active"
      class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-th"></i> BOOKS</a
    >
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-envelope"></i> CONTACT</a
    >

    <button class="w3-bar-item w3-button w3-hide-small" routerLink="/login">
      <i class="fa fa-envelope"></i>
      Login!
    </button>
  </div>

  <div class="section animate__bounceInRight">
    <div class="container">
      <div class="form">
        <div class="left-side">
          <span class="brand"
            ><img
              src="https://media.istockphoto.com/id/157482029/photo/stack-of-books.jpg?s=612x612&amp;w=0&amp;k=20&amp;c=ZxSsWKNcVpEzrJ3_kxAUuhBCT3P_dfnmJ81JegPD8eE="
            /><small>Login to your account!</small></span
          >
          <div>
            <p><br /></p>
          </div>

          <form class="was-validated" [formGroup]="loginForm">
            <div>
              <p><br /></p>
            </div>

            <div *ngIf="this.dontexist | async" class="error">
              <p>This User does not exist!</p>
            </div>
            <div>
              <p><br /></p>
            </div>
            <label for="validationTextarea" class="form-label">Username</label>
            <input
              type="text"
              class="form-control valid"
              placeholder="User Name"
              formControlName="username"
              required
              minlength="3"
            />

            <br />
            <div class="password">
              <label for="validationTextarea" class="form-label"
                >Password</label
              >
              <input
                class="form-control valid"
                id="password"
                type="password"
                placeholder="Password"
                formControlName="password"
                minlength="4"
                required
              />
              <div *ngIf="!loginForm.valid" class="error">
                <p>Please fill all the forms above</p>
              </div>

              <p class="random_password"></p>
            </div>
            <br />
            <div>
              <p></p>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              style="width: 220px"
              [disabled]="!loginForm.valid"
              (click)="test()"
            >
              Submit
            </button>
            <div>
              <p><br /></p>
            </div>

            <em>
              If you have forgotten your username or password, send an email to
              the librarian to get your credentials.
            </em>

            <button
              class="w3-button w3-black w3-right w3-section"
              type="submit"
              (click)="openGmail()"
            >
              <i class="fa fa-paper-plane"></i>
              SEND EMAIL
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
