<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a
      class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right"
      href="javascript:void(0);"
      title="Toggle Navigation Menu"
    >
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-user"></i> ABOUT</a
    >
    <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-th"></i> PORTFOLIO</a
    >
    <a
      href="#"
      [routerLink]="['/homepage/books']"
      routerLinkActive="router-link-active"
      class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-th"></i> BOOKS</a
    >
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small"
      ><i class="fa fa-envelope"></i> CONTACT</a
    >
    <button class="w3-bar-item w3-button w3-hide-small" routerLink="/login">
      <i class="fa fa-envelope"></i>
      Login!
    </button>
  </div>

  <div
    id="nav"
    class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium"
  >
    <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button">PORTFOLIO</a>
    <a href="#contact" class="w3-bar-item w3-button">CONTACT</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <img
    class="animate__backInUp"
    src="https://dg.imgix.net/can-christians-benefit-from-books-by-nonbelievers-r30biiui-en/landscape/can-christians-benefit-from-books-by-nonbelievers-r30biiui.jpg?ts=1481222504&amp;ixlib=rails-4.2.0&amp;fit=crop&amp;w=2000&amp;h=1050"
    style="height: 8cm; width: 100%"
  />
  <div class="w3-display-middle" style="white-space: nowrap">
    <div
      class="w3-center w3-padding-large w3-black w3-xlarge w3-wide animate__fadeInUp"
    >
      IKUBINFO <span class="w3-hide-small">BOOKS</span> STORE
    </div>
  </div>
</div>
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center animate__backInLeft">ABOUT BOOKS</h3>
  <p class="w3-center animate__backInRight">
    <em>Different Genres of Books</em>
  </p>
  <p class="animate__backInDown">
    There are different genres of books available for book readers. Every day,
    thousands of books are released in the market ranging from travel books to
    fictional books. We can pick any book of our interest to expand our
    knowledge and enjoy the reading experience. Firstly, we have travel books,
    which tell us about the experience of various travelers. They introduce us
    to different places in the world without moving from our place. It gives us
    traveling tips which we can use in the future. Then, we have history books
    which state historical events. They teach about the eras and how people
    lived in times gone by. Furthermore, we have technology books that teach us
    about technological developments and different equipment. You can also read
    fashion and lifestyle books to get up to date with the latest trends in the
    fashion industry. Most importantly, there are self-help books and
    motivational books. These books help in the personality development of an
    individual. They inspire us to do well in life and also bring a positive
    change in ourselves. Finally, we have fictional books. They are based on the
    writer’s imagination and help us in enhancing our imagination too. They are
    very entertaining and keep us intrigued until the very end.
  </p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <strong>Benefits of Reading Books</strong>
      <br />
      <img
        class="animate__fadeInTopLeft"
        src="https://basmo.app/wp-content/uploads/2021/12/quotes-about-reading-books-1024x690.webp"
        width="500"
        height="333"
      />
    </div>

    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p class="animate__fadeInTopRight">
        There are not one but various advantages of reading books. To begin
        with, it improves our knowledge on a variety of subjects. Moreover, it
        makes us wiser. When we learn different things, we learn to deal with
        them differently too. Similarly, books also keep us entertained. They
        kill our boredom and give us great company when we are alone.
        Furthermore, books help us to recognize our areas of interest. They also
        determine our career choice to a great extent. Most importantly, books
        improve our vocabulary. We learn new words from it and that widens our
        vocabulary. In addition, books boost our creativity. They help us
        discover a completely new side. In other words, books make us more
        fluent in languages. They enhance our writing skills too. Plus, we
        become more confident after the knowledge of books. They help us in
        debating, public speaking, quizzes and more. In short, books give us a
        newer perspective and gives us a deeper understanding of things. It
        impacts our personality positively as well. Thus, we see how books
        provide us with so many benefits. We should encourage everyone to read
        more books and useless phones.
      </p>
      <div
        (click)="openIt()"
        class="w3-bar-item w3-button w3-hide-small w3-right w3-hover"
      >
        <div class="container" style="padding: 7px 8px">
          <h1>Search Every BooK!</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h2 class="w3-center">Why are books important?</h2>
  <p class="w3-center">
    <em
      >Books are of great importance to mankind. They enhance our knowledge and
      vocabulary. They keep us entertained and also widen our perspective. This,
      in turn, makes us more confident and wise.<br />
    </em>
  </p>
  <br />
  <div class="w3-row-padding w3-center">
    <div class="wrapper">
      <h1>What Librarian Offers</h1>
      <div class="cols">
        <div
          class="col"
          ontouchstart="this.classList.toggle('hover');"
          *ngFor="let item of booksToDisplay1"
        >
          <div class="container">
            <div
              class="front"
              style="
                  background-image: url({{ item.img }});"
            ></div>
            <div class="back">
              <div class="inner">
                <p>Title: {{ item.BookName }}</p>
                <p>Author: {{ item.Name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-center">
    <div class="wrapper">
      <div class="cols">
        <div
          class="col"
          ontouchstart="this.classList.toggle('hover');"
          *ngFor="let item of booksToDisplay2"
        >
          <div class="container">
            <div
              class="front"
              style="
                background-image: url({{ item.img }});"
            ></div>
            <div class="back">
              <div class="inner">
                <p>Title: {{ item.BookName }}</p>
                <p>Author: {{ item.Name }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center">WHERE I WORK</h3>

    <div class="w3-row w3-padding-32 w3-section">
      <div class="w3-col m4 w3-container">
        <img
          src="https://ikubinfoacademy.al/wp-content/uploads/2021/03/cropped-ikubINFO-Academy-me-ngjyra-01-1.png"
          class="w3-image w3-round"
          style="width: 100%"
        />
      </div>
      <div class="w3-col m8 w3-panel">
        <div class="w3-large w3-margin-bottom">
          <i
            class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"
          ></i>
          Rruga Abdyl Frasheri, Hekla Center, K3-9, Tirana, Albania<br />
          <i
            class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"
          ></i>
          Phone: +355 69605 1001<br />
          <i
            class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"
          ></i>
          Email: info@ikubinfo.al<br />
        </div>

        <p>
          Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a
          note:
        </p>
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin: 0 -16px 8px -16px">
            <div class="w3-half">
              <input
                class="w3-input w3-border"
                type="text"
                placeholder="Your Id Card"
                name="Name"
                disabled
              />
            </div>
            <div class="w3-half">
              <input
                class="w3-input w3-border"
                type="text"
                placeholder="Student Card"
                name="Email"
                disabled
              />
            </div>
          </div>

          <input
            class="w3-input w3-border"
            type="message"
            placeholder="Send an email with your Id Card photo to get your credential to log in in your Panel. Thank You! "
            name="Message"
            disabled
          />

          <button
            class="w3-button w3-black w3-right w3-section"
            type="submit"
            (click)="openGmail()"
          >
            <i class="fa fa-paper-plane"></i>
            SEND EMAIL
          </button>
          <br />
          <li style="color: red">
            YOU CAN RESERVE 1 BOOK, 2 BOOKS, 3 BOOKS FOR A MONTH.
          </li>
          <br />
          <li style="color: red">
            SEND AN EMAIL TO GET YOUR USERNAME AND PASSWORD TO CONTROL YOUR
            PANEL.
          </li>
          <br />
          <li style="color: red">STAY TURNED AND CHECK YOUR EMAIL!</li>
          <br />
        </form>

        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe
              class="gmap_iframe"
              width="100%"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=ikubinfo&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer
  class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off"
>
  <a href="#home" class="w3-button w3-light-grey"
    ><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a
  >
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
</footer>
