<div
  class="w3-content w3-justify w3-text-grey w3-padding-64"
  id="aboutLibrarian"
>
  <h2 class="w3-text-light" style="color: red">FURTHER INFORMATION!</h2>
  <hr style="width: 200px" class="w3-opacity" />
  <p>
    <li style="color: red">
      YOU CAN RESERVE 1 BOOK, 2 BOOKS, 3 BOOKS FOR A MONTH.
    </li>
    <br />
    <li style="color: red">
      YOU CAN SELECT A DATE BETWEEN THE DATE THAT YOU SELECT BOOK/S UNTIL 30
      DAYS AFTER THAT DATE.
    </li>
    <br />
    <li style="color: red">
      FOR EVERY THINK THAT WILL HAPPEN (including: Demages, if the book/s losses
      etc...) YOU MUST SEND A MESSAGE TO NOTIFY.
    </li>
  </p>
  <br />
  <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">11+</span><br />
      Partners
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">500+</span><br />
      Projects Done
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">1000+</span><br />
      Happy Clients
    </div>
    <div class="w3-quarter w3-section">
      <span class="w3-xlarge">250+</span><br />
      Meetings
    </div>
  </div>
</div>
