.w3-bar{
    background-color: rgb(237, 237, 237);

}
.w3-card {
    background-color: rgb(246, 246, 246);

}

.my-custom-scrollbar {
    position: relative;
    height: 24vh;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
    #page-content {
        flex: 1 0 auto;
      }
      .card{
        margin: 10px;
        height: 280px;
        width: 170px;
    }
    .my-custom-scroll {
        position: relative;
        height: 85.5vh;
        overflow: auto;
        }
        .table-wrapper-scroll {
        display: block;
        }
        #page-content {
            flex: 1 0 auto;
          }
          .card{
            margin: 10px;
            height: 280px;
            width: 170px;
        }
 
    

.mat-button{
    line-height: 3;
    margin-top: 10px;
}
.color{
    color: rgb(255, 255, 255);
    background-color: red;
}