<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

<html>
  <body class="w3-black">
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
      <img
        src="https://images.assetsdelivery.com/compings_v2/sofiiashunkina/sofiiashunkina2003/sofiiashunkina200300813.jpg"
        style="width: 100%"
      />
      <a
        href="#homestudent"
        class="w3-bar-item w3-button w3-padding-large w3-black"
      >
        <i class="fa fa-home w3-xxlarge"></i>
        <p>Home</p>
      </a>
      <a
        href="#aboutLibrarian"
        class="w3-bar-item w3-button w3-padding-large w3-hover-black"
      >
        <i class="fa fa-user w3-xxlarge"></i>
        <p>ABOUT</p>
      </a>

      <a
        href="#contactlibrary"
        class="w3-bar-item w3-button w3-padding-large w3-hover-black"
      >
        <i class="fa fa-envelope w3-xxlarge"></i>
        <p>CONTACT</p>
      </a>
      <a
        href="#Panel"
        class="w3-bar-item w3-button w3-padding-large w3-hover-black"
      >
        <i class="fa fa-eye w3-xxlarge"></i>
        <p>PANEL</p>
      </a>
      <button
        class="w3-button w3-padding-large far fa-smile"
        style="font-size: 48px; color: red"
      >
        <h3>Logout!</h3>
      </button>
    </nav>

    <div class="w3-padding-large">
      <header
        class="w3-container w3-padding-32 w3-center w3-black"
        id="homestudent"
      >
        <h3 class="w3-jumbo">
          <span class="w3-hide-small">WELCOME</span> TO OUR STORE
        </h3>
        <img
          src="https://images.unsplash.com/photo-1568667256549-094345857637?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8bGlicmFyeXxlbnwwfHwwfHw%3D&amp;w=1000&amp;q=80"
          alt="boy"
          class="w3-image"
          width="500"
          height="300"
        />
      </header>

      <div
        class="w3-content w3-justify w3-text-grey w3-padding-64"
        id="aboutLibrarian"
      >
        <h2 class="w3-text-light" style="color: red">FURTHER INFORMATION!</h2>
        <hr style="width: 200px" class="w3-opacity" />
        <p>
          <li style="color: red">
            YOU CAN RESERVE 1 BOOK, 2 BOOKS, 3 BOOKS FOR A MONTH.
          </li>
          <br />
          <li style="color: red">
            YOU CAN SELECT A DATE BETWEEN THE DATE THAT YOU SELECT BOOK/S UNTIL
            30 DAYS AFTER THAT DATE.
          </li>
          <br />
          <li style="color: red">
            FOR EVERY THINK THAT WILL HAPPEN (including: Demages, if the book/s
            losses etc...) YOU MUST SEND A MESSAGE TO NOTIFY.
          </li>
        </p>
        <br />

        <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">11+</span><br />
            Partners
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">500+</span><br />
            Projects Done
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">1000+</span><br />
            Happy Clients
          </div>
          <div class="w3-quarter w3-section">
            <span class="w3-xlarge">250+</span><br />
            Meetings
          </div>
        </div>
        <br />
        <h3 class="w3-padding-16 w3-text-light">BOOKS ARE FREE</h3>
        <div class="w3-row-padding" style="margin: 0 -16px">
          <div class="w3-half w3-margin-bottom">
            <ul
              class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off"
            >
              <li class="w3-dark-grey w3-xlarge w3-padding-32">For 1 Book</li>
              <li class="w3-padding-16">Information</li>
              <li class="w3-padding-16">Explanation</li>
              <li class="w3-padding-16">Introduce</li>
              <li class="w3-padding-16">Mail Support</li>
              <li class="w3-padding-16">
                <h2>$ FREE</h2>
                <span class="w3-opacity">per month</span>
              </li>
            </ul>
          </div>

          <div class="w3-half">
            <ul
              class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off"
            >
              <li class="w3-dark-grey w3-xlarge w3-padding-32">
                For 2/3 Books
              </li>
              <li class="w3-padding-16">Information</li>
              <li class="w3-padding-16">Explanation</li>
              <li class="w3-padding-16">Introduce</li>
              <li class="w3-padding-16">Endless Support</li>
              <li class="w3-padding-16">
                <h2>$ FREE</h2>
                <span class="w3-opacity">per month</span>
              </li>
            </ul>
          </div>
        </div>
        <h3 class="w3-padding-24 w3-text-light">My Information</h3>
        <img
          src="https://images.assetsdelivery.com/compings_v2/sofiiashunkina/sofiiashunkina2003/sofiiashunkina200300813.jpg"
          alt="Avatar"
          class="w3-left w3-circle w3-margin-right"
          style="width: 80px"
        />
        <p>
          <span class="w3-large w3-margin-right"
            >Melville Louis Kossuth "Melvil" Dewey
          </span>
          <li>
            Inventor of the Dewey Decimal system of library classification, a
            founder of the Lake Placid Club, and a chief librarian at Columbia
            University Schools.
          </li>
        </p>
        <p>
          I am also a founding member of the American Library Association but
          resigned in 1905 racism and antisemitism.
        </p>
        <br />

        <img
          src="https://2022.alaannual.org/sites/default/files/styles/half_page/public/imgs/2022-06/AC22-Speaker-Dr-Carla-Hayden-website.jpg?itok=w6HMhitY"
          alt="Avatar"
          class="w3-left w3-circle w3-margin-right"
          style="width: 80px"
        />
        <p>
          <span class="w3-large w3-margin-right">Dr. Carla Hayden</span> CEO at
          Company.
        </p>
        <p>
          <li>
            Born in Tallahassee, Florida, Hayden began her career at the Chicago
            Public Library, and earned a doctorate in library science from the
            University of Chicago.
          </li>
        </p>
      </div>

      <div class="w3-padding-64 w3-content w3-text-grey" id="contactlibrary">
        <h2 class="w3-text-light">CONTACT ME</h2>
        <hr style="width: 200px" class="w3-opacity" />

        <div class="w3-section">
          <p>
            <i
              class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"
            ></i>
            Rruga Abdyl Frasheri, Hekla Center, K3-9, Tirana, Albania
          </p>
          <p>
            <i
              class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"
            ></i>
            Phone: +355 69605 1001
          </p>
          <p>
            <i
              class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"
            >
            </i>
            Email: info@ikubinfo.al
          </p>
        </div>
        <br />
        <p style="color: green">Let's get in touch. Send me a message:</p>

        <form action="/action_page.php" target="_blank">
          <p>
            <input
              class="w3-input w3-padding-16"
              type="text"
              placeholder="Name"
              required
              name="Name"
            />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16"
              type="text"
              placeholder="Email"
              required
              name="Email"
            />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16"
              type="text"
              placeholder="Subject"
              required
              name="Subject"
            />
          </p>
          <p>
            <input
              class="w3-input w3-padding-16"
              type="text"
              placeholder="Message"
              required
              name="Message"
            />
          </p>
          <p>
            <button
              class="w3-button w3-light-grey w3-padding-large"
              type="submit"
            >
              <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button>
          </p>
        </form>
      </div>

      <div class="w3-padding-64 w3-content" id="Panel">
        <h2 class="w3-text-light">My Panel</h2>
        <hr style="width: 200px" class="w3-opacity" />

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>

      <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </footer>
    </div>
  </body>
</html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">