.form-control{
    width: 600px;
}
.text-center {
    margin-top: 10px;
}

.error{
    color: red;
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }
.color{
    background-color: rgb(212, 224, 224);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.my-custom-scrollbar {
    height: 73.5vh;
    }

    .dialogue{
        height: 1000px;
        width: 1500px
    }

.addButton{
    margin: 20px;
    background-color: green;
    color: white;
}
.col-md-6{
    width: 100%;
}
.search{
    width:300px;
    display: flex;
    padding-left: 20px;
}