table {
    width: 800px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.sidePannelContainer{
    margin: 30px;
}

.sidePannel{
    display: flex;
    width: 300px;
}

.position{
    margin-top: 20px;
}
.table {
    
    width: 1150px;
}
.card{
    width: 420px;
}
.w3-top{
    height: 20%;
}

.space{
    margin-bottom: 10px;
}
.table2{
    width: 80px;
}
.example-container{
    height: 100%;
    margin-top: 45px;

}
.row{
    display: flex;
    justify-content: center;
}
.button{
    margin: 20px;
}
.my-custom-scrollbar {
    position: relative;
    height: 80vh;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
    #page-content {
        flex: 1 0 auto;
      }
      .card{
        margin: 10px;
        height: 280px;
        width: 170px;
    }

.search{
    width:300px;
    display: flex;
    padding-left: 20px;
}
.active{
    color: green;
}
.passive{
    color: orange;
}
.delayed{
    color:red;
}
.spinner{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.yesButton{
    margin-left: 110px;
    background-color: green;
    color: white;
    width: 2.5cm

}
.noButton{
    margin: 10px;
    background-color: red;
    color: white;
    width: 2.5cm

}
