<mat-form-field class="search">
  <mat-label>Filter</mat-label>
  <input matInput placeholder="Ex. id" #input />
</mat-form-field>
<div class="sidePannel2">
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-striped mb-0" mat-table [dataSource]="dataSource">
      <div class="mat-elevation-z8">
        <!-- RegistrationId Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Book title</th>
          <td mat-cell *matCellDef="let element">
            {{ element.BookName }}
          </td>
        </ng-container>

        <!-- studentId Column -->
        <ng-container matColumnDef="author">
          <th mat-header-cell *matHeaderCellDef>Author</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button (click)="retrunBook(element)">Return</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </div>
    </table>
  </div>

  <!-- <app-booktable [admin]="true"></app-booktable> -->
</div>
