<div
  class="w3-content w3-justify w3-text-grey w3-padding-64"
  id="aboutLibrarian"
>
  <h3 class="w3-padding-16 w3-text-light">BOOKS ARE FREE</h3>
  <div class="w3-row-padding" style="margin: 0 -16px">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">For 1 Book</li>
        <li class="w3-padding-16">Information</li>
        <li class="w3-padding-16">Explanation</li>
        <li class="w3-padding-16">Introduce</li>
        <li class="w3-padding-16">Mail Support</li>
        <li class="w3-padding-16">
          <h2>$ FREE</h2>
          <span class="w3-opacity">per month</span>
        </li>
      </ul>
    </div>

    <div class="w3-half">
      <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
        <li class="w3-dark-grey w3-xlarge w3-padding-32">For 2/3 Books</li>
        <li class="w3-padding-16">Information</li>
        <li class="w3-padding-16">Explanation</li>
        <li class="w3-padding-16">Introduce</li>
        <li class="w3-padding-16">Endless Support</li>
        <li class="w3-padding-16">
          <h2>$ FREE</h2>
          <span class="w3-opacity">per month</span>
        </li>
      </ul>
    </div>
  </div>
  <h3 class="w3-padding-24 w3-text-light">My Information</h3>
  <img
    src="https://images.assetsdelivery.com/compings_v2/sofiiashunkina/sofiiashunkina2003/sofiiashunkina200300813.jpg"
    alt="Avatar"
    class="w3-left w3-circle w3-margin-right"
    style="width: 80px"
  />
  <p>
    <span class="w3-large w3-margin-right"
      >Melville Louis Kossuth "Melvil" Dewey
    </span>
    <li>
      Inventor of the Dewey Decimal system of library classification, a founder
      of the Lake Placid Club, and a chief librarian at Columbia University
      Schools.
    </li>
  </p>
  <p>
    I am also a founding member of the American Library Association but resigned
    in 1905 racism and antisemitism.
  </p>
  <br />

  <img
    src="https://2022.alaannual.org/sites/default/files/styles/half_page/public/imgs/2022-06/AC22-Speaker-Dr-Carla-Hayden-website.jpg?itok=w6HMhitY"
    alt="Avatar"
    class="w3-left w3-circle w3-margin-right"
    style="width: 80px"
  />
  <p>
    <span class="w3-large w3-margin-right">Dr. Carla Hayden</span> CEO at
    Company.
  </p>
  <p>
    <li>
      Born in Tallahassee, Florida, Hayden began her career at the Chicago
      Public Library, and earned a doctorate in library science from the
      University of Chicago.
    </li>
  </p>
</div>
