<div class="w3-top">
  <div class="w3-bar">
    <div class="w3-bar-item w3-button" (click)="onLogout()">
      Ｂ ｏ ｏ ｋ ｓ Ｗ ｏ ｒ ｌ ｄ
    </div>
    <div (click)="onLogout()">
      <a class="w3-bar-item w3-button w3-hide-small"
        ><i class="fa fa-user"></i> LogOut!</a
      >
    </div>
  </div>

  <div
    class="w3-container w3-content"
    style="max-width: 1400px; margin-top: 13px"
  >
    <div class="w3-row">
      <div class="w3-col m3">
        <form class="w3-card w3-round" [formGroup]="form">
          <div
            class="w3-container"
            style="background-color: #dfe5e8 !important"
          >
            <h4 class="w3-center">Search...</h4>
            <hr />
            <p>Book Title</p>
            <button>
              <input
                type="search"
                required
                class="form-control w-100"
                placeholder="Search Book Title!"
                formControlName="filter"
              />
            </button>
            <p></p>
            <p>Author Name</p>
            <button>
              <input
                type="search"
                required
                class="form-control w-100"
                placeholder="Search Book Author!"
                formControlName="author"
              />
            </button>

            <p></p>
            <p>Category</p>
            <mat-form-field appearance="fill">
              <mat-label>Select an option</mat-label>
              <mat-select disableRipple formControlName="category">
                <mat-option value="">--</mat-option>
                <mat-option value="Drama">Drama</mat-option>
                <mat-option value="Families">Families</mat-option>
                <mat-option value="Science">Science</mat-option>
                <mat-option value="Fiction">Fiction</mat-option>
                <mat-option value="Biography"
                  >Biography & Autobiography</mat-option
                >
              </mat-select>
            </mat-form-field>
            <p></p>
          </div>
        </form>

        <br />

        <div>
          <div>
            <button
              class="w3-button w3-block w3-theme-l1 w3-left"
              mat-button
              (click)="bookTable = true; history = false; messages = false"
            >
              go to booklist
            </button>
            <br />

            <button
              class="w3-button w3-block w3-theme-l1 w3-left"
              mat-button
              (click)="bookTable = false; history = true; messages = false"
            >
              go to history
            </button>
            <br />
            <button
              class="w3-button w3-block w3-theme-l1 w3-left"
              mat-button
              (click)="bookTable = false; history = false; messages = true"
            >
              go to Messages
            </button>
            <button
              class="w3-button w3-block w3-left color"
              mat-button
              (click)="onLogout()"
            >
              LogOut
            </button>
          </div>
        </div>
      </div>

      <div class="w3-col m9">
        <div class="w3-row-padding">
          <div class="w3-col m12">
            <div class="w3-card w3-round w3-white">
              <div
                class="table-wrapper-scroll my-custom-scroll"
                *ngIf="loading | async; else loadingSpinner"
              >
                <div *ngIf="bookTable">
                  <app-booktable
                    [student]="true"
                    [filterData]="this.form.value.filter"
                    [authorFilter]="this.form.value.author"
                    [category]="this.form.value.category"
                  ></app-booktable>
                </div>
                <div *ngIf="history">
                  <app-history></app-history>
                </div>
                <div *ngIf="messages">
                  <app-messages></app-messages>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<body class="d-flex flex-column" style="position: fixed; width: 100%">
  <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center"></div>
    </div>
  </div>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 btn-light text-dark-50">
    <div class="container text-center">
      <small>Student &copy; Panel</small>
    </div>
  </footer>
</body>

<ng-template #loadingSpinner>
  <div class="spinner"><mat-spinner></mat-spinner></div>
</ng-template>
