<div class="w3-padding-64 w3-content w3-text-grey" id="contactlibrary">
  <h2 class="w3-text-light">CONTACT ME</h2>
  <hr style="width: 200px" class="w3-opacity" />

  <div class="w3-large w3-margin-bottom">
    <p>
      <i
        class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"
      ></i>
      Rruga Abdyl Frasheri, Hekla Center, K3-9, Tirana, Albania
    </p>
    <p>
      <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>
      Phone: +355 69605 1001
    </p>
    <p>
      <i
        class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"
      >
      </i>
      Email: info@ikubinfo.al
    </p>
  </div>
  <br />
  <p style="color: green">
    Let's get in touch. Send me an email with these information included:
  </p>

  <form action="/action_page.php" target="_blank">
    <p>
      <input
        class="w3-input w3-padding-16"
        type="text"
        placeholder="Name"
        required
        name="Name"
        disabled
      />
    </p>
    <p>
      <input
        class="w3-input w3-padding-16"
        type="text"
        placeholder="Email"
        required
        name="Email"
        disabled
      />
    </p>
    <p>
      <input
        class="w3-input w3-padding-16"
        type="text"
        placeholder="Subject"
        required
        name="Subject"
        disabled
      />
    </p>
    <p>
      <input
        class="w3-input w3-padding-16"
        type="text"
        placeholder="Message"
        required
        name="Message"
        disabled
      />
    </p>
    <p>
      <button class="w3-button w3-light-grey w3-padding-large" type="submit">
        <i class="fa fa-paper-plane"></i>
        <a
          href="https://accounts.google.com/v3/signin/identifier?dsh=S-1962830822%3A1671186130850041&continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&osid=1&passive=1209600&service=mail&flowName=GlifWebSignIn&flowEntry=ServiceLogin&ifkv=AeAAQh6m7sl6W5oJKF_a-T0zm0W73RxpWSmvuO2O6ElVK9U906F_q4Y3Iw8UFz7OqY12p1HrojQXUQ"
        >
          SEND AN EMAIL</a
        >
      </button>
    </p>
  </form>
</div>
