.card{
    margin: 10px;
    height: 280px;
    width: 170px;
}
.deactriveCard{
    margin: 10px;
    height: 280px;
    width: 170px;
    opacity: 50%;

}
.imageContainer{
    display: flex;
    flex-wrap: wrap;
}
.img{
    height: 250px;
    width: 150px;
}